.container {
  margin-left: 24px;
}

.btn {
  margin: 4px;
  padding: 8px 12px;
  background-color: steelblue;
  color: white;
  font-size: 16px;
}

.result {
  /* margin-left: 8px; */
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  background-color: black;
  width: 120px;
  color: aqua;
  padding: 4px 8px;
}